<h1>Editing care package</h1>

<%= render "form", care_package: @care_package %>

<br>

<div>
  <%= link_to "Show this care package", @care_package %> |
  <%= link_to "Back to care packages", care_packages_path %>
</div>
