<div id="<%= dom_id care_package_product %>">
  <p>
    <strong>Care package:</strong>
    <%= care_package_product.care_package_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= care_package_product.product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= care_package_product.quantity %>
  </p>

</div>
