<div id="<%= dom_id order_item %>">
  <p>
    <strong>Order:</strong>
    <%= order_item.order_id %>
  </p>

  <p>
    <strong>Care package:</strong>
    <%= order_item.care_package_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order_item.quantity %>
  </p>

</div>
